<!doctype html>
<html lang="zh-cn">
 <head>
  <!--页面编码-->
  <meta charset="UTF-8">
  <!--响应式布局-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>angularjs</title>
  <!--Bootstrap样式文件-->
  <link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>
  <!--自定义样式文件-->
  <link rel='stylesheet/less' type='text/css' href='styles/site2.less'>
  <!--[if lt IE9]>
    <script src='scripts/html5.min.js'></script>
    <script src='scripts/respond.min.js'></script>
  <![endif]-->
  <!--标签名称-->
  <title>angularjs</title>
 </head>
 
 
 <body class='container'>	
   <header class='page-header hidden-xs'>
     <h2>案列</h2>
   </header>
   
   <!--<div data-ng-app='appTest'>
   	   <div data-ng-controller='testCtrl'>
	   	   {{person.firstName}}
   	   </div>
   </div>-->
   
   <div data-ng-app='appBook'>
   	   <div data-ng-controller='testCtrl'>
	   	   <div class='lead'>{{msg}}</div>
	   	   <div data-ng-controller='bookCtrl'>
	   	   	
	   	   	   <div class='row'>
	   	   	       <div class='col-sm-4 col-sm-offset-8'>
	   	   	           <input data-ng-model='Title' class='form-control' type='search'>
	   	   	       </div>
	   	   	   </div>
		   	   <table class='table table-hover'>
		   	       <tr class='success'>
		   	           <td>Id</td>
		   	           <td>Title</td>
		   	           <td>Author</td>
		   	           <td>Price</td>
		   	           <td>PubDate</td>
		   	           <td>Category</td>
		   	       </tr>
		   	       <tr data-ng-repeat="b in books|filter:Title|orderBy:['+Author','Title']">
		   	       	   <td>{{b.Id}}</td>
		   	           <td>{{b.Title|lowercase}}</td>
		   	           <td>{{b.Author}}</td>
		   	           <td>{{b.Price|currency:'￥'}}</td>
		   	           <td>{{b.PubDate|date:'yyyy年MM月dd日'}}</td>
		   	           <td>{{b.Category.Name}}</td>
		   	       </tr>
		   	   </table>
	   	   </div>
   	   </div>
   </div>
   
   <footer class='navbar-fixed-bottom text-center'>
   	 all images and contents &copy;
   	 <abbr title='Hyper Tet Markup Language'>HTML</abbr>&trade;
   </footer>
   
   
   
   <!--Jquery脚本文件-->
   <script src='scripts/jquery.min.js'></script>
   <!--Less脚本文件-->
   <script src='scripts/less.js'></script>
   <script src='scripts/angular-1.4.0.js'></script>
   <!--Bootstrap脚本插件文件-->
   <script src='bootstrap/js/bootstrap.min.js'></script>
   <script src='js/controller.js'></script>
   <script src='js/module.js'></script>
</body>
</html>