/*.yellowBorder{
	  width: 50px;
	  height: 50px;
	  border: 1px solid yellow;
}
.redBordertemp{
	  width: 50px;
	  height: 50px;
	  background: rgba(134,241,250,0.5);
}
.setWidth{
	  width: 100px;
	  height: 100px;
	  background: rgba(100,200,150,0.5);
}
div{
     -moz-border-radius:5px;
     -webkit-border-radius: 5px;
     border-radius:5px;
     
     box-shadow:5px 5px #e0e0e0;
}*/
header,footer,section,aside,article,hgroup,div,nav{
	border:2px solid #e0e0e0;
}
